# MongoBD
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster_name>.abdy0qr.mongodb.net/<database_name>?appName=<app_name>"

# JWT
JWT_ACCESS_SECRET="<your_jwt_access_secret>"
JWT_REFRESH_SECRET="<your_jwt_refresh_secret>"
JWT_ACCESS_EXPIRY="<your_jwt_access_expiry>"
JWT_REFRESH_EXPIRY="<your_jwt_refresh_expiry>"

# Cloudinary
CLOUDINARY_CLOUD_NAME="<your_cloudinary_cloud_name>"
CLOUDINARY_API_KEY="<your_cloudinary_api_key>"
CLOUDINARY_API_SECRET="<your_cloudinary_api_secret>"

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:5000/api/auth/google/callback"

# Super Admin Protection Secret
SUPER_ADMIN_INVITE_SECRET="super-secret-admin-key-change-this-in-prod"

# App Frontend URL for Post-Auth Redirects
CLIENT_URL="http://localhost:3000"