# MongoBD
DATABASE_URL="mongodb+srv://<username>:<password>@<cluster_name>.abdy0qr.mongodb.net/<database_name>?appName=<app_name>"

# JWT
JWT_ACCESS_SECRET="<your_jwt_access_secret>"
JWT_REFRESH_SECRET="<your_jwt_refresh_secret>"
JWT_ACCESS_EXPIRY="<your_jwt_access_expiry>"
JWT_REFRESH_EXPIRY="<your_jwt_refresh_expiry>"

# Cloudinary
CLOUDINARY_CLOUD_NAME="<your_cloudinary_cloud_name>"
CLOUDINARY_API_KEY="<your_cloudinary_api_key>"
CLOUDINARY_API_SECRET="<your_cloudinary_api_secret>"